NEO4J_URI=<your_NEO_URI>
NEO4J_DATABASE=<your_NEO_database_name>
NEO4J_USER=<your_NEO_user>
NEO4J_PASSWORD=<your_NEO_pass>

PG_HOST=<your_PG_Host>
PG_PORT=<your_PG_Port>
PG_DATABASE=<your_PG_Database>
PG_USER=<your_PG_User>
PG_PASS=<your_PG_Pass>
PG_SCHEMA=<your_PG_Schema>